@import "tailwindcss";


@theme {
  /* ========== TYPOGRAPHY ========== */
  /* Headings */
  --font-heading: "Gabarito", "Lexend", "Century Gothic", AppleGothic, sans-serif;
  /* Content */
  --font-content: "Hanken Grotesk", "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  /* ========== COLORS ========== */
  /* Brand */
  --color-primary: #ff6219;
  --color-primary-hover: #ff7433;
  --color-primary-disabled: #a38475;
  --color-secondary: #ffbb00;
  --color-secondary-hover: #ffc21a;
  --color-secondary-disabled: #998b66;
  --color-tertiary: #553377;
  --color-tertiary-hover: #613a88;
  --color-tertiary-disabled: #554d5e;
  --color-light: #ffffff;
  --color-light-hover: #e2e2e2;
  --color-light-disabled: #a2a2a2;
  /* Greys */
  --color-grey-lighter: #e2e2e2;
  --color-grey-light: #a2a2a2;
  --color-grey-dark: #4a4a4a;
  --color-grey-darker: #2a2a2a;
  /* Text */
  --color-ink: #222222;
  /* Transparent */
  --color-dark-overlay: #0000001a;
  --color-transparent-nav: #ffffffe6;
  --color-transparent-white: #ffffffb2;
  --color-transparent-tertiary: #553377b2;
  --color-transparent-secondary: #ffbb00b2;
  /* Border */
  --color-border: #a2a2a2; /* grey-light */
  --radius-card: 1.25rem; /* 20px */
}

@layer base {
  html {
    font-family: var(--font-content);
    color: var(--color-ink);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 900;
    font-family: var(--font-heading);
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.85rem;
  }
  * {
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
  }
  body {
    background-image: url(../assets/images/background/friends.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}